.modal-content{
    padding:100px;
    
}

.required{

    color:rgb(232, 22, 22)
}

[aria-describedby]::after {
    content: "Error";
    color: red;
  }
#error{
    color:rgb(231, 27, 27);
    width: 300px;
    padding-left: 400px;
    Top:10px;
    position: absolute;
    float: inherit;
    /* padding-top:100px */
}  